/* Main Colors:
#0B0C10 Black
#1F2833 Gray
#C5C6C7 Light Gray
#66FCF1 Blue Green
#45A29E Darker Blue Green
#141820 Slightly Darker Black */

/* -------------------- Styles for all pages -------------------- */
.bodystyle {
  background-color: #0B0C10;
  padding: 15px;
}

.header {
  width: 100%;
  height: 100%;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.align-left {
  float: left;
}

.align-right {
  float: right;
}
/* -------------------- Styles breadcrumbs -------------------- */
ul.breadcrumb {
  font-size: 0px; /* Distance between dreadcrumb and banner */
  font-family: "Jura";
  padding: 10px 16px;
  background-color: #1F2833;
}

ul.breadcrumb li {
  display: inline;
  font-size: 15px;
} /* Display breadcrumbs side by side */

ul.breadcrumb li+li:before {
  padding: 8px;
  color: #66FCF1;
  content: "/ ";
} /* Adds slash symbol */

ul.breadcrumb li a {
  color: #66FCF1;
  text-decoration: none;
} /* Style of all links in breadcrumb */

ul.breadcrumb li a:hover {
  color: #45A29E;
  text-decoration: underline;
} /* Style on breadcrumbs hover */

/* -------------------- Styles for main page selection -------------------- */
.mainpages {
  margin: 8px -21px;
}

.mainboxes:hover {
  transform: scale(1.05);
  cursor: pointer;
  text-decoration: underline 1%;
} /* Enlarges main boxes on hover*/

.mainboxes {
  float: left;
  width: 20%;
  box-sizing: border-box;
} /* Makes main boxes same shape and centered */

.mainpages,
.mainpages > .mainboxes {
  padding: 12px;
} /* Padding between columns */

.content {
  background-color: #1F2833;
  padding: 10px;
  border-radius: 15px;
} /* Size of the main boxes */

.maintext, .maintext a {
    font-family: "Jura";
    color: #66FCF1;
    text-align: center;
    font-size: 15px;
    text-decoration: none;
} /* Font for main pages selection */

.mainimage {
  width:100%;
  border-radius: 15px;
} /* Images for main page selection */

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .mainboxes {width: 50%;}
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .mainboxes {width: 100%;}
}

/* -------------------- Styles for tables -------------------- */
.styled-table {
  overflow-x:auto;
  border-collapse: collapse;
  width: 100%;
  font-family: "Jura";
  color: #F0FFFF;
  min-width: 400px;
  background-color:#141820;
}

.styled-table tr th{
  background-color: #1E90FF;
  color: #000000;
  text-align: left;
  font-family: "Jura";
}

.styled-table th {
  padding: 12px 15px;
}
.styled-table td {
  padding: 12px 15px;
  font-family: "Jura";
}

.unowned {
  color: #FF0000
} /* Color of ✕ */

.owned {
  color: #7CFC00;
} /* Color of ✔ */

/* -------------------- Style of filter function -------------------- */
.title-search div {
  display: inline-block;
}

.page-title {
  font-size: 30px;
  font-family: "Jura";
  color: #66FCF1;
  margin: 15px
}

::placeholder {
  color: #45A29E;
  opacity: 1;
} /* Style of text inside the search box*/

#search-bar {
  color: #66FCF1;
  font-family: "Jura";
  background-color: #1F2833;
  font-size: 15px;
  padding: 15px;
  border: 1px solid #C5C6C7;
  border-radius: 7px;
  margin-bottom: 12px;
}
