.bodystyle {
  background-color: #0B0C10; /* #0B0C10 */
  padding: 15px;
}

.header {
  width: 100%;
  height: 100%;
}

/* Breadcrumb */
ul.breadcrumb {
  font-size: 0px; /* Distance between dreadcrumb and banner */
  font-family: "Jura";
  padding: 10px 16px;
  background-color: #1F2833;
}

ul.breadcrumb li {
  display: inline;
  font-size: 15px;
} /* Display breadcrumbs side by side */

ul.breadcrumb li+li:before {
  padding: 8px;
  color: #66FCF1;
  content: "/ ";
} /* Adds slash symbol */

ul.breadcrumb li a {
  color: #66FCF1;
  text-decoration: none;
} /* Style of all links in breadcrumb */

ul.breadcrumb li a:hover {
  color: #45A29E;
  text-decoration: underline;
} /* Style on breadcrumbs hover */

.mainpages {
  margin: 8px -21px;
} /* Margin of all main page selection */

.mainboxes:hover {
  transform: scale(1.05);
  cursor: pointer;
  text-decoration: underline 1%;
} /* Enlarges main boxes on hover*/

.mainboxes {
  float: left;
  width: 20%;
  box-sizing: border-box;
} /* Makes main boxes same shape and centered */

.mainpages,
.mainpages > .mainboxes {
  padding: 12px;
} /* Padding between columns */

.content {
  background-color: #1F2833;
  padding: 10px;
  border-radius: 15px;
} /* Size of the main boxes */

.maintext, .maintext a {
    font-family: "Jura";
    color: #66FCF1;
    text-align: center;
    font-size: 15px;
    text-decoration: none;
} /* Font for main pages selection */

.mainimage {
  width:100%;
  border-radius: 15px;
} /* Images for main page selection */

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 900px) {
  .mainboxes {width: 50%;}
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .mainboxes {width: 100%;}
}
